:root {
  --primary-color: #00aa95;
  --secondary-color: #00cc76;
  --tertiary-color: #a5e887;
  --font-color: #00aa95;
  --primary-font-family: "font-family: 'Oswald', sans-serif;";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.all-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a9a9a9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00aa95;
}
